@font-face {
  font-family: "HARRYP";
  src: url(./HARRYP__.TTF);
}

.header {
  height: 75px;
  display: grid;
  justify-content: center;
  align-content: end;
}

body {
    background-image: url(./images/cauldron.png);
    background-size: cover;
  /*  background-position: center;*/
}

h1 {
  font-family: "HARRYP", sans-serif;
  font-size: 6rem;
  margin: 10px;
  font-weight: 300;
  color: #d4d4d8;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
  align-content: center;
  height: 40px;
  padding-bottom: 20px;
}

.container {
  display: flex;
  justify-content: center;
  position: relative;
  flex-grow: 1;
}

/*.container::before {
    content: "";
    position: absolute;
    background-image: url(./images/cauldron.png);
    background-size: cover;
    background-position: center;
    top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
    opacity: 0.5;
  }*/

.main-home, 
.main {
  position: relative;
  width: 700px;
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  align-items: center;
  background: rgba(53, 47, 47, 0.75);
  padding: 15px;
}

.main-home {
  background: transparent;
  color: white;
  text-align: center;
  justify-content: end;
}

.main > p, 
.main > div > p {
  font-size: 1.4rem;
  color: #a1a1aa;
}

.info {
  color: #a1a1aa;
}

h2, 
h3 {
  color: #d4d4d8;
}

input {
  width: 300px;
  height: 30px;
}

textarea {
  width: 300px;
  height: 100px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 500px;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  justify-content: center;
  padding: 15px;
}

.info {
  display: flex;
  flex-direction: column;
}

.price {
  align-self: end;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 1.6rem;
  margin: 0;
}

.info > p {
  font-size: 1.2rem;
}

.blurb {
  font-size: 35px;
  margin-bottom: 20px;
  color: #d4d4d8;
}

button {
  margin: 0;
  height: 40px;
  width: 120px;
  font-size: 1.2rem;
  background-color: #155e75;
  color:#d4d4d8;
  border: none;
  border-radius: 5px;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: #a5f3fc;
}

a:hover {
  font-weight: 600;
}

h1,
h2 {
  text-align: center;
}

.options {
  display: grid;
  gap: 40px;
  margin: 30px auto;
}

.menu-btn {
  width: 200px;
  height: 55px;
}

.learn {
  width: 200px;
  height: 60px;
}
